.firsttext {
    z-index: 10;
    position: relative;
    background-color: rgba(226, 223, 223, 0.459);
    height: 70px;
    width: 290px;
    justify-content: center;
    text-align: center;
    top: 644px;
    left: 227px;
    padding-top: 16px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    color: black;

}

.image_Parafit {
    z-index: 10;
    position: relative;
    justify-content: center;
    text-align: center;
    top: 600px;
    right: 143px;
    padding-top: 16px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    text-decoration: wavy;
    color: rgb(249, 249, 249);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Heading_text {
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-decoration: wavy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.label {
    text-align: left;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-decoration: wavy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.label_child {
    list-style-type: circle;
}

.label_child {
    list-style-type: none;
    padding: 0;
}

.label_child li {
    position: relative;
    text-align: left;
    padding-left: 39px;
    margin-bottom: 10px;
    font-size: larger;

}

.label_child li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #3498db;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}


.label_child li :hover {
    transform: translatex(-100%);
    width: 10px;
    height: 10px;

}

.Child_grid_item img {
    height: 350px;
    object-fit: fill;
}

.label_child li:hover {
    transform: scale(1.1);
    font-weight: bold;
    background-color: black;
    color: white
}

img:hover {
    transform: scale(1.01);
}


@media only screen and (max-width: 500px) {
    .Child_grid_item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: stretch;
        justify-items: stretch;
    }

    .Child_grid_item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .Child_grid_item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    /* Styles for the navbar when the screen width is 320 pixels or less */
    .navbar {
        display: block;

    }

    .Nav_tiles :nth-child(1) {
        padding-top: 0%;
    }

    .imageHead {
        margin-top: 10px;
    }

    /* Styles for the navigation tiles when the screen width is 320 pixels or less */
    .Nav_tiles {
        padding: 5%;
        display: block;
        padding-left: 20px;
        text-decoration: none;
    }

    .ics {
        padding: 0;
        padding-left: 23px;
    }

    .topcss {
        margin-top: 79px;
    }

    .image_Parafit {
        position: absolute;
        justify-content: center;
        text-align: center;
        top: 83px;
        left: 20px;
        padding-top: 16px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        -webkit-text-decoration: wavy;
        text-decoration: wavy;
        color: rgb(249, 249, 249);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow: 1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .Child_grid_item {
        height: 635px;
    }

    /* .image_Parafit {
        position: relative;
        justify-content: center;
        text-align: center;
        top: 600px;
        right: 262px;
        padding-top: 16px;
        font-size: 40px;
        font-weight: bold;
        text-decoration: none;
        -webkit-text-decoration: wavy;
        text-decoration: wavy;
        color: rgb(249, 249, 249);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow: 1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    } */

    .firsttext {
        position: absolute;
        background-color: rgba(226, 223, 223, 0.459);
        height: 46px;
        width: 134px;
        justify-content: center;
        text-align: center;
        top: 144px;
        left: 27px;
        padding-top: 9px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 50px;
        text-decoration: none;
        color: black;
    }

    .full_image_section {
        padding: 0;
        margin: 0;
    }

    .Child_grid_item {}

    .Parent_grid_container {

        display: grid;
        width: fit-content;
        height: fit-content;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .Child_grid_item {
        width: 100%;
        /* By default, take the full width */
    }

    .firsttext {
        position: fixed;
        /* background-color: white; */
        background-color: rgba(226, 223, 223, 0.759);
        height: 54px;
        width: 188px;
        justify-content: center;
        text-align: center;
        top: 397px;
        left: 155px;
        padding-top: 10px;
        font-size: 21px;
        font-weight: bold;
        border-radius: 50px;
        text-decoration: none;
        color: black;
    }

    @media (max-width: 500px) {
        .Child_grid_item {
            position: relative;
            padding: 10px;
            grid-column: span 2;
            /* In the media query, take two columns to stack */
        }
    }

}

@media (min-width: 501px) and (max-width: 900px) {

    .Child_grid_item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: stretch;
        justify-items: stretch;
    }

    /* Add your tablet-specific styles here */
    .Parent_grid_container {
        max-height: 400px;
        /* Set your maximum height */
    }

    .Child_grid_item {
        max-height: 400px;
    }

    /* Example: Adjust styles for .label_child li:hover on tablets */
    .label_child li:hover {
        transform: scale(1.2);
        /* Adjust the scaling factor as needed */
    }

    /* Example: Adjust styles for images on tablets */
    img {
        max-width: 100%;
        /* Ensure images don't exceed the width of their container */
    }

    .Parent_grid_container {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .Child_grid_item {
        width: 100%;
        /* By default, take the full width */
    }

    .navbar {
        display: block;

    }

    .Nav_tiles :nth-child(1) {
        padding-top: 0%;
    }

    .imageHead {
        margin-top: 10px;
    }

    /* Styles for the navigation tiles when the screen width is 320 pixels or less */
    .Nav_tiles {
        padding: 2%;
        display: block;
        padding-left: 20px;
        text-decoration: none;
    }

    .ics {
        padding: 0;
        padding-left: 23px;
    }

    .topcss {
        margin-top: 79px;
    }

    .image_Parafit {
        position: absolute;
        justify-content: center;
        text-align: center;
        top: 83px;
        left: 20px;
        padding-top: 16px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        -webkit-text-decoration: wavy;
        text-decoration: wavy;
        color: rgb(249, 249, 249);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow: 1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .firsttext {
        z-index: 10;
        position: relative;


        background-color: rgba(226, 223, 223, 0.459);
        height: 54px;
        width: 188px;
        justify-content: center;
        text-align: center;
        top: 397px;
        left: 227px;
        padding-top: 16px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 50px;
        text-decoration: none;
        color: black;
    }

    @media (max-width: 500px) {
        .Child_grid_item {
            grid-column: span 2;
            /* In the media query, take two columns to stack */
        }


    }

}